.body {
    background-image: url("../img/resurse/grass-tile-3.png");
}

.space {
    width: 100%;
    padding-bottom: 75%;
    margin: 10px;
}

.free {
    border: 1px yellow solid;
    border-radius: 15px;
    
}
.cladire{
    
}