html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: black;
}

body {
  margin: 0;  
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

h3 {
  color: aliceblue;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container2{
  color: aliceblue;
  position: relative;
  width:100%;
  padding: 30px;
  text-align: center;
}


.informations{
  margin: 0px;
  padding: 30px;
  color: antiquewhite;
}

.top5{
  color:white;
  height:40px!important;
}

.footer{
  width: 100%;
  padding-top: 20px;  
}

.row {
  margin-right: -15px;
  margin-left: -15px;
    position: relative;
}



.navbar {
  background-color: #222;
  border-color: #080808;
  padding-right: 0;
  padding-left: 0;
  max-height: 340px;
  float: left;
  width: 100%;
  display: block;
}

.nav {
  margin: 7.5px -15px;
}

.nav > li {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  float: right !important;
  margin-right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: inline-block;
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  color: #c4ae78 !important;
  transition: all 0.33s;
}



.Divider {
  height: 55px;
  width:100%;
  padding: 0px;
  background: url(../img/divider-sprite.png) 50%;
  background-position: 0% 0%;
  
  margin: 0px 0px;
  position: absolute;
  display: block;
  top: 82px;
    
}

.Divider2 {
  height: 55px;
  width:100%;
  padding: 0px;
  background: url(../img/divider-sprite.png) 50%;
  background-position: 0% 0%;
  
  margin: 0px 0px;
  position: absolute;
  display: block;
  top: 1275px;
    
}
.Divider3 {
  height: 55px;
  width:100%;
  padding: 0px;
  background: url(../img/divider-sprite.png) 50%;
  background-position: 0% 0%;
  z-index: 300;s
  margin: 0px 0px;
  position: absolute;
  display: block;
  bottom: -30px;
    
}


.footer .nav2{
  height: 100px;
  width:600px;
  text-align: center;
  margin: 0 auto; 
}

.nav2 > li {
  display: block; 
}

.nav2 > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  float:left;
  margin-right: 50%;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: inline-block;
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  color: #c4ae78 !important;
  transition: all 0.33s;
}


.caseta2 {
  width: 16.66666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.caseta3 {
  width: 22%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.caseta4 {
  height:45px;
  width:45px; 
}

.caseta5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

.caseta6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 66.66666667%;
}

.caseta7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}



.modal {
    width: 900px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    background-color: white;
    z-index: 2;
    top: 10px;
    padding: 20px;
    border: 1px solid gold;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem 1.33rem 1.33rem;
    display: none;
    overflow: scroll;
}

.modal .modal-header {
  text-align: center;
}

.modal .modal-body {
  font-size: 90%;
  text-align: center;
}

.modal .modal-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 1.33rem 1.33rem;
  float: right;
}

.modal-title {
  margin: 1rem 0 0.75rem;
  text-align: center;
  color: #ad835a;
  font-size: 120%;
}


.close{
  float: right;
}


.btn-default{
   background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-primary{
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  border-radius: 15px;
  padding: 5px;
  border:1px solid gold;
}


div{
  display: block;
}


.pattern-dark {
  background-image: url(../img/dark_leather.png);
}


table{
  margin-top:20px;
  width: 1000px;
  height:1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.construieste{
  width:80%;
   background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  height: 25px;
}